<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357054968732-g2vss2rh0c0cimogrqs762db5bl3dvs8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357054968732-g2vss2rh0c0cimogrqs762db5bl3dvs8</string>
	<key>API_KEY</key>
	<string>AIzaSyBs5K4aTWAFvWcNNj70kHl-ITcETLyuG2s</string>
	<key>GCM_SENDER_ID</key>
	<string>357054968732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mymovies</string>
	<key>PROJECT_ID</key>
	<string>movielist-f853e</string>
	<key>STORAGE_BUCKET</key>
	<string>movielist-f853e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357054968732:ios:ee6b73557129fa38c04e59</string>
</dict>
</plist>